body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.test-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.timer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.question {
    margin: 20px 0;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

label{
    cursor: pointer;
}

p{
    font-weight: bold;
}